:root {
    --itemColor: rgb(255, 222, 227);
    --graphContainerColor: rgb(239, 239, 239);
    --canvasContainerColor: white;
    --containerGradient1: pink;
    --containerGradient2: magenta;
    --textColor: black;
}

.myInfo {
    padding: 0 !important;
}

.topRightcorner {
    height: 190%;
    width: 135%;
    background-color: var(--graphContainerColor);
}

.GraphContainer {
    display: grid;
    grid-template-columns: 47% 47%;
    justify-content: space-between;
    border: 1rem solid var(--itemColor);
    border-image: repeating-linear-gradient(45deg, transparent, transparent 5px, var(--itemColor) 6px, var(--itemColor) 15px, transparent 16px, transparent 20px) 20/1rem;
    background: var(--graphContainerColor);
    height: 100vh;
    overflow: auto;
    padding: 2%;
    color: var(--textColor);
}

.canvasContainer {
    height: 90%;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--canvasContainerColor);
    border: 5px solid;
    border-image: linear-gradient(45deg, var(--containerGradient1), var(--containerGradient2)) 1;
    grid-template-rows: 90% 10%;
    min-height: 90%;
}

.titleInput {
    width: 50%;
}

.titleAndPalette {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 1vh;
    align-items: center;
}

.optionSection {
    display: grid;
    row-gap: 1vh;
    justify-items: start;
}

.optionsContainer {
    margin-top: 1.5vh;
}

.textOptions {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    column-gap: 2%;
    row-gap: 1vh;
    align-items: center;
}

.xInputAndColor {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    row-gap: 1vh;
}

.xInput {
    display: flex;
    flex-shrink: 0;
}

.xInputTrash {
    min-width: 1vw;
    position: relative;
    top: 10px;
}

.textHeader {
    text-align: center;
    padding: 3vh;
}

.fieldsContainer {
    width: 90%;
    overflow: auto;
    display: grid;
    max-height: 50vh;
}

.inputValues {
    display: grid;
    row-gap: 2vh;
}

.myAdd {
    margin-left: 3px;
}

.showOptions {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .GraphContainer {
        grid-template-columns: 100%;
        border-image: repeating-linear-gradient(45deg, transparent, transparent 5px, var(--itemColor) 6px, var(--itemColor) 15px, transparent 16px, transparent 20px) 20/0.5rem;
        width: 100vw;
    }

    .myCheckbox {
        padding-right: 0 !important;
    }

    .titleAndPalette {
        width: 100%;
    }

    .myLabel {
        margin: 0;
    }

    .optionSection {
        row-gap: 2vh;
    }

    .myAdd {
        height: 1rem;
    }

    .canvasContainer {
        margin-top: 0vh;
        height: 50vh;
    }

    .fieldsContainer {
        width: 100%;
        max-height: 30vh;
    }

    .inputValues {
        row-gap: 1vh;
    }

    .textOptions {
        margin-bottom: 2vh;
    }

    .lastItem {
        width: 7vw;
        max-width: 7vw;
        min-width: 7vw !important;
    }

    .css-ejicsm-MuiButtonBase-root-MuiButton-root {
        width: 12px !important;
        height: 12px !important;
    }

    .css-4ypkia-MuiInputBase-root-MuiOutlinedInput-root {
        padding-left: 5px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {

    .GraphContainer {
        grid-template-columns: 100%;
        border-image: repeating-linear-gradient(45deg, transparent, transparent 5px, var(--itemColor) 6px, var(--itemColor) 15px, transparent 16px, transparent 20px) 20/0.5rem;
        width: 100vw;
    }

    .canvasContainer {
        margin-top: 0vh;
        height: 50vh;
    }

    .titleAndPalette {
        width: 100%;
    }

    .fieldsContainer {
        width: 100%;
        max-height: 34vh;
    }

    .textOptions {
        margin-bottom: 2vh;
    }
}