.inputValue {
    display: inline-grid;
    column-gap: 2vw;
    grid-template-columns: repeat(auto-fill, 6vw);
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
    background-color: var(--itemColor);
    grid-auto-flow: column;
}

.inputValue>* {
    min-width: 6vw;
}

.lgNonTextOptions {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(5, 18%);
    gap: 2%;
    align-items: start;
}

@media only screen and (max-width: 767px) {
    .inputValue {
        grid-template-columns: repeat(auto-fill, 17vw);
        column-gap: 3vw;
    }

    .inputValue>* {
        min-width: 17vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .inputValue {
        grid-template-columns: repeat(auto-fill, 17vw);
        column-gap: 3vw;
    }

    .inputValue>* {
        min-width: 17vw;
    }
}