:root{
    --chartFormSize : 36;
    --itemColor:rgb(255, 222, 227);
    --pieChartContainerColor:rgba(239, 239, 239);
    --pieChartCanvasContainerColor:white;
    --containerGradient1:pink;
    --containerGradient2:magenta;
}

.tableItem{
    display: grid !important;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(calc(var(--chartFormSize)/9), 9vw);
    background-color: var(--itemColor);
    max-width: fit-content;
  }

  .tableHeader{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat( calc(var(--chartFormSize)/9), 9vw);
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .optionsFlex{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1%;
    width: 100%;
  }

  .fieldsContainer{
    margin-top: 2%;
    display: grid;
    row-gap: 2vh;
  }



